// Importando fontes
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  background: #d9d9d9;
}

// Vars
$primary-font: 'Open Sans', sans-serif;

.header {
  padding: 1.2em 0;
  background-image: linear-gradient(to right, #4dd2d2 , #092331);

  .menu-nav {
    float: right;

    li {
      display: inline-block;
      padding-right: 2em;

      a {
        font-family: $primary-font;
        color: #fff;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .logo {
    img {
      height: 50px;
    }
  }
}

.user {
  figure {
    border-radius: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 120px;
    height: 120px;
  }
}

.person {
  &.selected {
    .person-box {
      background: #002b50;

      legend, small {
        color: #fff!important;
      }
    }
  }

  &-item {
    display: block;
  }

  &-avatar {
    border-radius: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 120px;
    height: 120px;
  }

  .avatar-number {
    background: #4dd2d2;
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 1px 12px;
    border-radius: 100px;
    float: right;
    color: #092432;
  }

  &-info {
    padding-left: 2em;

    legend {
      color: #092432;
    }

    legend, small {
      font-family: $primary-font;
      font-size: 20px;
      margin-bottom: 0;
    }

    small {
      font-size: 15px;
      color: #707070!important;
    }
  }

  &-box {
    background: rgba(255,255,255,.75);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.12);
    padding: 1.5em;
    margin-bottom: 2em;
    transition: all .15s ease-in-out;
  }
}

.featured-block {
  padding: 1.5em;
  background: rgba(255,255,255,.75);
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.12);
  margin: 2em 0;

  legend {
    font-family: $primary-font;
    font-size: 20px;
    color: #707070!important;
    text-transform: uppercase;
    margin-bottom: 0;

    span {
      margin-right: .5em;
    }

    strong {
      text-transform: none;
      color: #092432;
    }
  }
}

#person-list {
  margin: 0;
}

.hidden {
  display: none;
}
